*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;

}
.container{
    display: grid;
    height: 400px;
    width: 400px;
    background-color: aqua;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.box{
    font-size: 30px;
}
.first{
    background-color: orange;
}
.second{
    background-color: green;
}
.third{
    background-color: rgb(255, 3, 3);
}
.fourth{
    background-color: blueviolet;
}