.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    width: 400px;
    font-size: 40px;
    background-color: aqua;
}

/* concept of max-width */
/* @media screen and (max-width:600px){
    .container{
        height: 300px;
        width: 300px;
        background-color: pink;
        font-size: 30px;
    }
} */

/* Concept of min-width */

@media screen and (min-width:600px){
    .container{
        height: 300px;
        width: 300px;
        background-color: orange;
        font-size: 30px;
    }
}