*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.container{
    display: grid;
    padding: 10px;
    gap:10px;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr 2fr 1fr ;

}
.row,.col{
    font-size:30px ;

}
.row1{
    background: linear-gradient(to right, rgb(255, 115, 138),rgb(79, 79, 244)) ;
    grid-column-start: 1;
    grid-column-end: 4;
}
.row2{
    background: linear-gradient(to right,rgb(129, 250, 95),rgb(198, 218, 95)) ;
    grid-row-start: 2;
    grid-row-end:4;
}
.row3{
    background: linear-gradient(to right,rgb(129, 250, 95),rgb(198, 218, 95)) ;
    grid-column-start: 2;
    grid-column-end: 4;
}
.col2{
    background: linear-gradient(to right, rgb(255, 115, 138),rgb(79, 79, 244)) ;
    grid-column-start: 1;
    grid-column-end: 4;
}.row4{
    background: linear-gradient(to right , rgb(129,250,95),rgb(198, 218, 95));
}
.col1{
    background: linear-gradient(to right , rgb(129,250,95),rgb(198, 218, 95));
}